.titleText {
  font-family: "Gumball", sans-serif;
  font-size: 30px;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}
