@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gumball";
  src: url("../assets/gumball/Gumball.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
